{% extends 'base/base.html' %}
{% block title %} Registros/Producto  {% endblock %}
{% block contenido %}
	<div class="card">
		 <div class="card-header">
		 Verificación.
		 </div>
		 	<div class="card-body">
		 		<form method ="POST">
		 			{% csrf_token %}
		 			<div class="row">
		 			<div class="col-md-12">
		 				<h3>¿Desea eliminar registro de {{proveedor.nombreProveedor}} {{proveedor.apellidoProveedor}}?</h3>
		 				<button class="btn btn-danger"  >Sí, eliminar</button>
		 				<a class="btn btn-success"href="{% url 'proveedor'%}">Cancelar</a>
		 			</div>
		 			</div>
		 		</form>
		 	</div>
		 </div>			         
{% endblock %}