{% extends 'base/base.html' %}

{% block title %} Registros/Compra  {% endblock %}

{% block contenido %}
	<div class="card">
		 <div class="card-header">
		 Verificación.
		 </div>
		 	<div class="card-body">
		 		<form method ="POST">
		 			{% csrf_token %}
		 			<div class="row">
		 			<div class="col-md-12">
		 				<h3>¿Desea eliminar la compra de código: {{compra.codigoCompra}}?</h3>
		 				<button class="btn btn-danger"  >Sí, eliminar</button>
		 				<a class="btn btn-success"href="{% url 'compra'%}">Cancelar</a>
		 			</div>
		 			</div>
		 		</form>
		 	</div>
		 </div>			         
{% endblock %}