{% extends 'base/base.html' %}

{% block title %} Ingresar/Usuario  {% endblock %}
{% block contenido %}
	<div class="card">
		 <div class="card-header">
		 Usuario
		 </div>
	 	<div class="card-body">
	 		<form method ="POST">
	 			{% csrf_token %}
	 			<div class="row">
	 				<div class="col-md-12">
	 					<label for="id_username">Nombre de Usuario:</label>
	 					<input type="text" name="username" class="form-control" maxlength="150" autofocus="" required="" id="id_username">
	 				</div>
	 				<div class="col-md-12">
	 					<label for="id_first_name">Nombre:</label>
	 					<input type="text" name="first_name" class="form-control" maxlength="30" id="id_first_name">
	 				</div>
	 				<div class="col-md-12">
	 					<label for="id_last_name">Apellido:</label>
	 					<input type="text" name="last_name" class="form-control" maxlength="150" id="id_last_name">
	 				</div>
	 				<div class="col-md-12">
	 					<label for="id_email">E-Mail:</label>
						<input type="text" name="email" class="form-control" maxlength="254" id="id_email">
	 				</div>
	 				<div class="col-md-12">
	 					<label for="id_password1">Password:</label>
						<input type="password" name="password1" required="" id="id_password1" class="form-control">
	 				</div>
	 				<div class="col-md-12">
	 					<label for="id_password2">Password confirmation:</label>
						<input type="password" name="password2" required="" id="id_password2" class="form-control">
	 				</div>				
	 			</div>
	 			<p></p>
	 			<button class="btn btn-success">Guardar</button>
	 		</form>
	 	</div>
	</div>			         
{% endblock %}